@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

:root
{
    --main-radius: 5px;
    --main-padding: 5px;
}

.grid
{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.22fr 1.5fr 0.8fr;
    grid-template-areas:
        "header1 header2 header3"
        "sidebar main main"
        "sidebar footer footer";
    grid-gap: 0.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header
{
  display: flex;
    grid-column: header1/ header3;
    grid-row: header1;
    background: #9633FF;
    z-index: 10;

}
.b-group{
  grid-area: header3;
  justify-self: end;
  padding-right: 10%;
  align-self: center;
  z-index: 20;

}


li, a, button
{
    list-style: none;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: floralwhite;
    text-decoration: none;
}


button
{
    padding: 9px 25px;
    background-color: #21ADA8;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    margin-left: 20px;

}

button:hover
{
    color: #21ADA8;
    background-color: #D3D3D3;
}
.chemlife{
  grid-area: header1;
  justify-content: flex-start;
  align-self: center;
  padding-left: 10%;
  z-index: 20;

}
.navlinks{
  grid-area:header2;
  place-self: center;
  justify-content: space-between;
  z-index: 20;

}
.link{
  padding: 2rem;
}

.navlinks li a
{
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover
{
    transition: all 0.3s ease 0s;
    color: #21ADA8;
}

main
{
    grid-area: main;
    background: #D3D3D3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#sidebar
{
    grid-area: sidebar;
    background: #21ADA8;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

footer
{
    grid-area: footer;
    background:#D3D3D3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
