body
{
    background-color:floralwhite;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
}

header
{   --color-primary: #9633FF;
    
    background-color: var(—color-primary);
    padding: 15px;
    box-shadow: 0 0 3px #000;
}

header li
{
    display: inline;
    padding-left: 45px;
}

header li a
{
    color: floralwhite;
    text-decoration: none;
    padding: 13px;
    transition: 0.3s ease;
}

header li a:hover
{
    color: rgba(148, 0, 211, 0.459);
}

header ul #login a
{
    color: mediumpurple;
    background-color: floralwhite;
    border-radius: 30px;
    float: right;
    position: relative;
    top: -15px;
    transition: 0.3s ease;
}

header ul #login a:hover
{
    background-color: rgba(128, 128, 128, 0.336);
}

header ul #signup a
{
    color: mediumpurple;
    background-color: floralwhite;
    border-radius: 30px;
    float: right;
    position: relative;
    top: -15px;
    transition: 0.3s ease;
}

header ul #signup a:hover
{
    background-color: rgba(128, 128, 128, 0.336);
}

header ul #chemlife101 a
{
    font:bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    float: left;
    margin-top: -20;
}

.active
{
    color: white;
}
